.wrapper{
    display: flex;
    gap: 200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.container {
    text-shadow: 2px 2px 4px #000000;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 800px;
    background-color: darkgrey;
    text-align: center;
}

button {
    color: black;
    font-size: 16px;
    display: block;
    width: 100px;
    height: 40px;
    padding: 0 10px;
    margin: 20px auto;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: deepskyblue;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    
}
.para1{
    color: rgb(240, 246, 252);
    font-size: 20px;
    background-color: lightgreen;

}
.para2{
    font-size: 20px;
    background-color: lightcoral;

}
h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}